* {
  background-color: #000;
  margin: 0;
}
 
#tag { 
  position: absolute;
  color: #fff;
 }

.line {
  position: absolute;
  background-color: #fff;
}
 
.vt {
 height: 100%;
 width: 1px;
 }

.hl {
 width: 100%;
 height: 1px;
 }

.target {
  position: absolute; 
}